<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta content="text/html; charset=utf-8" http-equiv="content-type" />
	<title>Lecture Demonstration Program - Astronomy</title>
	<meta content="Noah Hinojos" name="author" />
	<link rel="stylesheet" type="text/css" href="style/ldpstyle-screen.css" />
</head>

<body>

	<div id="pagecontainer">
		<!-- Links at top of page -->
		<div id="maps">
			<a href="http://www.uci.edu" target="_blank">Uci.edu</a><b> : </b>
			<a href="http://www.physsci.uci.edu" target="_blank">School of Physical Sciences</a><b> : </b>
			<a href="http://www.physics.uci.edu/" target="_blank">Dept. of Physics &amp; Astronomy</a>
		</div>

		<!-- Box for the banner/ header; UCI search box included -->
		<div id="headercontainer">
			<img id="header" src="images/phys_astro_lec_demo_2line.jpg"/>
		</div> <!--END headercontainer -->

		<!-- Horizontal navigator -->
		<div id="navigation_row">
			<span><a href="./">Home</a>&nbsp;&nbsp;:&nbsp;&nbsp;</span>
			<span><a href="calendar.html">Demo Calendar</a>&nbsp;&nbsp;:&nbsp;&nbsp;</span>
			<span><a href="contacts.html">Contact Us</a></span>
		</div>

		<!-- Top pictures -->
		<div id="picturecontainer">
			<img class="pictureboxA" src="images/Astro/header/spectra.png" alt="Absorption Spectra" />
			<img class="pictureboxA" src="images/Astro/header/doppler.png" alt="Doppler Effect and Stellar Spectra" />
			<img class="pictureboxC" src="images/Astro/header/hoberman.png" alt="Hoberman Sphere" />
		</div>

		<!-- Main content box; it contains the navigation links, footer, and main content -->
		<div id="mainbox">
			<div id="leftcolumn">
				<div id="menubox">

					<h2><a class="mainmenulink" href="ordering.html">&bull; Ordering Demos</a></h2><br />
					<h3><span> Topics </span></h3><br />
					<h2>
						<a class="mainmenulink" href="mechanics.html">&bull; Mechanics</a><br /><br />
						<a class="mainmenulink" href="fluid_mechanics.html">&bull; Fluid Mechanics</a><br /><br />
						<a class="mainmenulink" href="oscillations_and_waves.html">&bull; Oscillations
							&amp;<br />&nbsp;&nbsp;Waves</a><br /><br />
						<a class="mainmenulink" href="thermodynamics.html">&bull; Thermodynamics</a><br /><br />
						<a class="mainmenulink" href="el-mag.html">&bull; Electricity
							&amp;<br />&nbsp;&nbsp;Magnetism</a><br /><br />
						<a class="mainmenulink" href="optics.html">&bull; Optics</a><br /><br />
						<a class="mainmenulink" href="modern_physics.html">&bull; Modern Physics</a><br /><br />
						<a class="mainmenulinkselected" href="astronomy.html">&bull; Astronomy</a><br /><br />
					</h2>
					<hr class="slim" /><br />
					<h2><a class="mainmenulink" href="links.html">&bull; Multimedia Links</a></h2><br />
				</div>
			</div>

			<!-- MAIN CONTENT -->
			<div id="contentcolumn">
				<div id="title_box">
					<h2> Astronomy </h2>
					<hr />
				</div>
				<div id="instruct">Choose a subtopic from the list below and see the demos we have to offer.</div>

				<!-- SUB-TOPICS. Embedded in the list are subject matters and demo links -->
				<!-- PLANETARY ASTRONOMY -->
				<ul class="none">
					<li>
						<h3><a name="planetary_astronomy"><span>8A : Planetary Astronomy</span></a></h3><br />
						<ul class="square">
							<li><b>8A10 Solar System Mechanics</b>
								<ul class="circle">
									<li><a href="images/Demos/8a10.10.gif">8A10.15 - Scale Model of the Solar System</a>
									</li>
								</ul><br />
							</li>

							<li><b>8A20 Earth-Moon Mechanics</b>
								<ul class="circle">
									<li><a href="pdf/astronomy/8a20.15-phases_of_the_moon.pdf">8A20.15 - Phases of the
											Moon</a></li>
								</ul><br />
							</li>

							<li><b>8A35 Views From Earth</b>
								<ul class="circle">
									<li><a href="images/Demos/8a35.10.png">8A35.10 - Celestial Sphere</a></li>
									<li><a href="pdf/astronomy/8a35.19-solar_motion_demonstrator.pdf">8A35.19 - Solar
											Motion Demonstrator</a></li>
								</ul><br />
							</li>

							<li><b>8A40-8A80 Planetary Properties</b>
								<ul class="circle">
									<li><a href="images/Demos/rayleigh.gif">8A70.21 - Rayleigh Scattering in the
											Atmosphere</a></li>
								</ul><br />
							</li>

						</ul><br />
					</li> <!-- END Solar System Mechanics list -->

					<!-- STELLAR ASTRONOMY -->
					<li>
						<h3><a name="stellar_astronomy"><span>8B : Stellar Astronomy</span></a></h3><br />
						<ul class="square">

							<li><b>8B10 The Sun</b>
								<ul class="circle">
									<li><a href="pdf/astronomy/8b10.70-solar_oscillations.pdf">8B10.70 - Solar
											Oscillation</a></li>
								</ul><br />
							</li>

							<li><b>8B20 Stellar Spectra</b>
								<ul class="circle">
									<li>8B20.10 - Stellar Spectra</li>
									<li><a href="http://jersey.uoregon.edu/vlab/elements/Elements.html">8B20.12 -
											Spectral Chart Applet</a></li>
									<li><a href="pdf/astronomy/8b20.20-doppler_effect_and_stellar_spectra.pdf">8B20.20 -
											Doppler Effect &amp; Stellar Spectra</a></li>
								</ul><br />
							</li>

							<li><b>8B30 Stellar Evolution</b>
								<ul class="circle">
									<li>8B30.35 - Binary Star System</li>
									<li><a href="images/Demos/8b10.40.gif">8B30.95 - Forward and Backward Scattering</a>
									</li>
									<li><a href="images/Demos/Supernova.gif">8B30.50 - Supernova Core Bounce</a></li>
								</ul><br />
							</li>

						</ul><br />
					</li> <!-- END Stellar Astronomy -->

					<!-- COSMOLOGY -->
					<li>
						<h3><a name="cosmology"><span>8C : Cosmology</span></a></h3><br />
						<ul class="square">
							<li><b>8C10 Models of the Universe</b>
								<ul class="circle">
									<li><a href="images/Demos/8c10.10.gif">8C10.30 - Expanding Universe</a></li>
									<li><a href="pdf/astronomy/8c10.36-expanding_universe_hoberman_sphere.pdf"
											title="">8C10.36 - Expanding Universe: Hoberman Sphere</a></li>
								</ul><br />
							</li>
						</ul><br />
					</li> <!-- END Cosmology -->
				</ul><br /> <!-- END Sub-topics -->
			</div> <!-- END contentcolumn -->

			<div id="footercontainer">
				<div id="seal">
					<a href="http://www.uci.edu" target="_blank"><img src="images/seal_07_07.gif"
							alt="UCI's Home page" /></a>
				</div>
				<div id="footer">
					<p> Department of Physics and Astronomy<br />
						University of California, Irvine &bull; Irvine, CA 92697 <br />
						(949) 824-6911 <br />
						&copy; 2024 The Regents of the University of California <br />
					</p><br />
					<p>
						<a href="http://www.uci.edu/privacy.shtml" target="_blank">Privacy &amp; Legal Notice</a><b> :
						</b>
						<a href="http://www.uci.edu/copyright.shtml" target="_blank">Copyright Inquiries</a><br />
					</p>
				</div> <!-- END footer -->
			</div> <!-- END footercontaier -->
		</div> <!-- END mainbox -->
	</div><!-- END pagecontainer -->
</body>

</html>